@font-face {
    font-family: Abrade;
    src: url(font/Abrade-Black.ttf);
}

@font-face {
    font-family: Republic;
    src: url(font/SF\ New\ Republic\ Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(font/Singel\ Light.otf);
}

@font-face {
    font-family: RegB;
    src: url(font/Singel\ Bold.otf); 
}

@font-face {
    font-family: Mollen;
    src: url(font/Mollen\ Personal\ Use-Light.otf);
}

@font-face {
    font-family: Museo;
    src: url(font/MuseoSansRounded100.otf);
}

@font-face {
    font-family: Venturis;
    src: url(font/VenturisADF-Bold.otf);
}

@font-face {
    font-family: PortadaBold;
    src: url(font/Portada-Bold.ttf);
}

@font-face {
    font-family: Portada;
    src: url(font/Portada.ttf);
}

/* End fonts */

/* all styles of body */

body {
    background-color: #eff0f2;
    margin: 0;
}

/* header */

header {
    width: 100%;
    height: 112px;
}

.menu {
    display: flex;
    margin: 0;
}

.menu li {
    margin-top: 20px;
    list-style-type: none;
}
  
.menu .me {
    margin-left: 85%;
    align-self: center;
}

.menu .SHOPNO {
    align-self: flex-end;
}

/* End header */
/* Naming */

.naming {
    font-size: 33px;
    text-align: center;
    font-family: Abrade;
    color: #505050;
    text-shadow: 3px 6px 10px #9d9fa5;
    height: 563px;
}

.naming span {
    background-color: #b2f2ee;
}

.naming .text {
    margin-top: 204px;
}

.naming .liq {
    margin-top: 150px;
}

.naming button {
    border: 2px solid #777879;
    width: 232px;
    height: 53px;
    border-radius: 1px;
    color:#3C3C3D;
    background-color: #eff0f2;
    font-family: Republic;
    font-size: 13px;
    padding: 10px 45px;
}

.naming .liq figure {
    position: relative;
    left: 450px;
    top: -70px;
    text-shadow: 3px 6px 10px #9d9fa5;
}

/* End naming */
/* About us */

.about_us {
    background-color: #F8FAFA;
    height: 985px;
}

.about_us h1 {
    padding-top: 130px;
    font-size: 28px;
    text-align: center;
    font-family: Abrade;
}

.about_us h6 {
    margin-top: -13px;
    font-size: 14px;
    font-family: Regular;
    text-align: center;
    color: #636464;
    text-transform: uppercase;
    padding-bottom: 130px;
}

.content_about {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

.info {
    text-align: justify;
    flex-grow: 5;
    width: 1300px;
}

.info h4, .info h3{
    text-transform: uppercase;
    font-weight: bold;
    font-family: RegB;
}

.info p{
    color: #515252;
    font-family: Mollen;
    font-size: 16px;
}

/* slider 1  */

.sl {
    flex-grow: 3;
    margin-right: 30px;
    height: 100%;
    overflow: hidden;
}

.navigation {
    position: relative;
    padding-top: 25px;
    left: 145px;
    display: flex;
}

.bar {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #bbb;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.4s ease;
}

.bar:hover {
    background: #71f6eb;
    transform: scale(1.2);
}

input[name = "slider"] {
    position: absolute;
    visibility: hidden;
}

.slider {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.6s ease;
}

#switch1:checked ~ .s1 {
    margin-left: 0;
}

#switch2:checked ~ .s1 {
    margin-left: -25%;
}

#switch3:checked ~ .s1 {
    margin-left: -50%;
}

#switch4:checked ~ .s1 {
    margin-left: -75%;
}

/* End slider  */
/* End about us */
/* Featured */

.featured {
    background-color: #ffffff;
}

.featured h1 {
    padding-top: 130px;
    font-size: 28px;
    text-align: center;
    font-family: Abrade;
    text-transform: uppercase;
    margin: 0;
}

.featured h6 {
    margin-top: 13px;
    font-size: 14px;
    padding-bottom: 123px;
    font-family: Regular;
    text-align: center;
    color: #636464;
    text-transform: uppercase;
}

.product {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 125px;
    max-width: 1139px;
    margin: 0 auto;
}

.product img {
    padding: 6px;
}

/* End featured */
/* Services */

.services {
    background-color: #F9FBFB;
}

.services h1 {
    padding-top: 124px;
    font-size: 28px;
    text-align: center;
    font-family: Abrade;
    text-transform: uppercase;
    margin: 0;
}

.services h6 {
    margin-top: 13px;
    font-size: 14px;
    padding-bottom: 124px;
    font-family: Regular;
    text-align: center;
    color: #636464;
    text-transform: uppercase;
}

.serv_img {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 124px;
    max-width: 1347px;
    margin: 0 auto;
}

.fir {
    background: url("img/service-1.png") no-repeat center center;
    margin-right: auto;
    width: 652px;
    height: 422px;
    margin-top: 13px;
    margin-left: 104px;
}

.sec {
    background: url("img/service-2.png") no-repeat center center;
    margin-left: auto;
    width: 474px;
    height: 422px;
    margin-top: 13px;
    margin-right: 104px;
}

.thir {
    background: url("img/service-3.png") no-repeat center center;
    margin-right: auto;
    width: 652px;
    height: 371px;
    margin-top: 13px;
    margin-left: 104px;
}

.fou {
    background: url("img/service-4.png") no-repeat center center;
    margin-left: auto;
    width: 474px;
    height: 370px;
    margin-top: 13px;
    margin-right: 104px;
}

.fif {
    background: url("img/service-5.png") no-repeat center center;
    margin-right: auto;
    width: 472px;
    height: 370px;
    margin-top: 13px;
    margin-left: 104px;
}

.six {
    background: url("img/service-6.png") no-repeat center center;
    margin-left: auto;
    width: 651px;
    height: 371px;
    margin-top: 13px;
    margin-right: 104px;
}

.ser_f {
    width: 100%;
    height: 100%;
    background: rgba(113, 245, 234, 0.97);
    transition: all 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ser_f .ser_t {
    padding-left: 66px;
    padding-bottom: 79px;
}

.ser_f .titleh {
    color: #122625;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 0;
    font-size: 20px;
    font-family: Venturis;
    font-weight: 700;
    align-self: flex-start;
}

.ser_f .ser_t .text_l {
    margin: 0;
    color: #122625;
    width: 432px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-size: 15px;
    font-family: Museo;
    align-self: flex-start;
}

.btn_f {
    background: url("img/X.png") no-repeat center left;
    cursor: pointer;
    padding-bottom: 25px;
    margin-left: 68px;
    margin-bottom: 56px;
    width: 30px;
}

.ser {
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.85);
    transition: all 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ser .ser_t {
    padding-left: 65px;
    padding-bottom: 56px;
}

.ser .titleh {
    color: #f6f6f6;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 0;
    font-size: 20px;
    font-family: Venturis;
    font-weight: 700;
    align-self: flex-start;
}

.ser .ser_t .text_l {
    margin: 0;
    color: #f6f6f6;
    width: 370px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-size: 15px;
    font-family: Museo;
    align-self: flex-start;
}

.ser .ser_t .text_r {
    margin: 0;
    color: #f6f6f6;
    width: 250px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-size: 15px;
    font-family: Museo;
    align-self: flex-start;
}

.serv_btn {
    display: flex;
    font-family: Museo;
    text-transform: uppercase;
    color: #f6f6f6;
    padding-left: 65px;
    padding-bottom: 65px;
    align-items: center;
}

.btn {
    width: 45px;
    background: url("img/arrow.png") no-repeat center right;
    cursor: pointer;
    padding-bottom: 65px;
}

/* End services */
/* Team */

.team {
    background-color: #ffffff;
}

.team h1 {
    padding-top: 124px;
    font-size: 28px;
    text-align: center;
    font-family: Abrade;
    text-transform: uppercase;
    margin: 0;
    font-stretch: ultra-expanded;
}

.team h6 {
    margin-top: 13px;
    font-size: 14px;
    padding-bottom: 124px;
    font-family: Regular;
    text-align: center;
    color: #636464;
    text-transform: uppercase;
}

.guys {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 124px;
    max-width: 1139px;
    margin: 0 auto;
}

.guys img {
    padding: 8px;
}

.photo_container {
    position: relative; 
}

.speak {
    display: none;
    bottom: 30px;
    left: 23px;
    background-color: #70f6eb;
    width: 320px;
    height: 230px;
}

.speak h1 {
    font-family: PortadaBold;
    font-size: 20px;
    padding-top: 35px;
}

.speak span {
    font-family: Portada;
    font-size: 14px;
    font-style: italic;
    color: #7E7E7E;
}

.speak p {
    width: 240px;
    text-align: center;
    margin-left: 30px;
    color: #16312f;
    font-family: Museo;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.speak ul {
    display: flex;

}

.si {
    margin-top: 10px;
    font-size: 13px;
}

.fab {
    margin-right: 12px;
    color: #214946;
}

.far {
    height: 10px;
    color: #214946;
}

.photo_container:hover .speak {
    position: absolute;
    display: block;
}

.speak:before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 230px;
    width: 0;
    height: 0;
    border-bottom: 15px solid #70f6eb;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* End team */
/* Says */

.says {
    background-color: #F9FBFB;
    height: 1020px;
}

.says h1 {
    padding-top: 124px;
    font-size: 28px;
    text-align: center;
    font-family: Abrade;
    text-transform: uppercase;
    margin: 0;
    font-stretch: ultra-expanded;
}

.says h6 {
    margin-top: 13px;
    font-size: 14px;
    padding-bottom: 140px;
    font-family: Regular;
    text-align: center;
    color: #636464;
    text-transform: uppercase;
}

.say_sl {
    padding-left: 180px;
    padding-right: 150px;
    display: flex;

    padding-bottom: 120px;
}

/* Start slider 2*/

.guy_sl {
    flex-grow: 3;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.guy_sl .slider {
    width: 400%;
    height: 100%;
    display: flex;
    box-shadow: #000;
}

.guy_sl .slide {
    width: 25%;
    transition: all 0.6s ease;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.guy_sl .part_left {
    float: left;
}

.guy_sl .part_right {
    background-image: url("img/block3.png");
    width: 666px;
    height: 362px;
    margin-left: 430px;
    margin-top: 35px;
}

.guy_sl .part_right h1 {
    font-family: PortadaBold;
    font-size: 20px;
    padding-top: 90px;;
}

.guy_sl .part_right span {
    font-family: Portada;
    font-size: 14px;
    font-style: italic;
    color: #7E7E7E;
}

.guy_sl .part_right p {
    width: 500px;
    text-align: center;
    margin-left: 10%;
    color: #6F7070;
    font-family: Museo;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.guy_sl .part_right img {
    margin-left: 40%;
}

.guy_sl .navigation {
    position: relative;
    display: flex;
    padding-bottom: 124px;
    margin: 0 auto;
    justify-content: space-between;
}

.guy_sl .radiobutton {
    width: 100px;
    left: 145px;
    display: flex;
}

.guy_sl .bar {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #bbb;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.4s ease;
}

.guy_sl .bar:hover {
    background: #71f6eb;
    transform: scale(1.2);
}

input[name = "slider_says"] {
    position: absolute;
    visibility: hidden;
}

#swit1:checked ~ .ss1 {
    margin-left: 0;
}

#swit2:checked ~ .ss1 {
    margin-left: -25%;
}

#swit3:checked ~ .ss1 {
    margin-left: -50%;
}

#swit4:checked ~ .ss1 {
    margin-left: -75%;
}

.arrows {
    display: flex;
    height: 70px;
    margin-right: 200px;
    
}

.r_s {
    width: 53px;
    height: 53px;
    margin-right: 30px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 4%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.05);
}

.sif {
    color: #B2B2B2;
    font-size: 28px;
    margin-top: 12px;
    margin-left: 19px;
}

.r_s:hover{
    background-color: #71F6EB;
}

/* end slider 2 */
/* End says */
/* Partners */

.partners {
    display: flex;
    background-color: #ffffff;
    padding: 120px 0;
}

.p_ {
    margin: 0 auto;
}

/* End partners */
/* Contact */

.contact_ {
    background-image: url("img/contacts-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 729px;
}

.forms {
    display: flex;
	width: 100%;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.connection {
    width: 600px;
	height: 460px;
	background: rgba(38, 61, 75, 0.88);
	padding: 32px;
    padding-top: 18px;
    margin-top: 120px;
}

.connect_form {
    display: block;
}

.contacts__input {
    display: block;
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 58px;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

.contacts__required{
	position: absolute;
	left: 78px;
	margin-top: -37px;
	font-size: 19px;
	color: rgba(255, 255, 255, 0.5);
    font-family: Museo;
    font-weight: 100;
}

.contacts__required_second {
	left: 87px;
}

.contacts__required_third {
	left: 80px;
}

.contacts__required_fourth{
	left: 98px;
	margin-top: -112px;
}

.contacts__input:focus {
  outline: none;
}

.connect_form textarea::placeholder {
    font-family: Museo;
    font-weight: 100;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.contacts__input::placeholder {
    font-family: Museo;
    font-weight: 100;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}
  
.contacts__input:after {
    content: 'A';
    display: inline;
    font-size: 50px;
    color: #000;
}
  
.contacts__text:focus {
    outline: none;
}

.contacts__text {
    padding-top: 26px;
    padding-left: 4px;
    padding-right: 4px;
    display: block;
    width: 100%;
    height: 110px;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    overflow: auto;
}
  
.contacts__text::placeholder {
    font-family: Museo;
    font-weight: 100;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);  
}
  
.contacts__btn {
    display: block;
    margin-top: 38px;
    width: 245px;
    height: 52px;
    background: #6eeee4;
    border-radius: 3px;
    border: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.12em;
    padding-left: 10px;
    color: #000;
    transition: 0.3s ease;
    padding-top: 5px;
}
  
.contacts__btn:focus {
    outline: none;
}
  
.contacts__btn:hover {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
  
.contacts__text{
    resize: none;
    display: block;
}

.map {
    width: 488px;
	height: 460px;
	background: rgba(38, 61, 75, 0.88);
	padding: 32px 22px 20px 22px;
    color: #c4c8cb;
    margin-top: 120px;
}

.contacts__location-text {
	padding-left: 10px;
	height: 8px;
	line-height: 1em;
	display: block;
	font-size: 15px;
	font-family: Museo;
    font-weight: 100;
    letter-spacing: 0.03em;
}

.contacts__location-text:nth-child(5) {
	margin-top: 40px;
}

.map_size {
	margin-top: 25px;
	width: 100%;
	height: 250px;
}

/* End contact */
/* Follow us */

.follow_us {
    background-color: #262B2E;
    height: 315px;
}

.follow_us .fu {
    margin-block-start: 0;
    padding-top: 90px;
    color: #CACBCB;
    font-family: Museo;
    letter-spacing: 0.03em;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.footer_container {
    display: flex;
    justify-content: center;
}

.rect_icon{
    width: 45px;
    height: 40px;
    background-color: #424648;
    margin-left: 8px;
}

.rect_icon:hover {
    background-color: #6EEEE4;
}

.rect_icon:hover .cvva {
    color: #070E0D;
}

.cvva {
    color: #BBB8B9;
    margin: 10px 13px;
    font-size: 20px;
}

.follow_us p {
    color: #7C7F81;
    font-family: Museo;
    letter-spacing: 0.03em;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
}

/* End follow us */